body {
    background-color: #ffddaa;
	font-size: 20px;
	font-family: "Crimson Text", Georgia, serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}
a {
	word-break: break-all;
}
img {
    min-width: 300px;
    max-width: 100%;
}
#content {
    padding: 5px;
    font-size: 20px;
}
blockquote {
  border-left: 4px solid gray; /* Adjust thickness and color as needed */
  padding-left: 15px; /* Adds space between the border and text */
  margin: 0; /* Optional: adjusts default spacing */
}
