<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stack structures in the Bible</title>
        <link rel="stylesheet" href="../blog-style.css">
        <link rel="stylesheet" href="nested-list-colors.css">
    </head>
    <body>
        <h1>Stack structures in the Bible</h1>
        <small>by <a href="/">Tobi Lehman</a></small> on
        <date>2025-07-31</date>
        
        {{chiasms}}
    </body>
</html>
