body {
  background-color: #faf8f8;
  color: #101730;
  font-family: "Merriweather";
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

header {
  margin: 0px;
  background-color: #EEEEEE;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  height: 2em;
  padding-top: 0.5em;
  padding-left: 1em;
  vertical-align: center;
}

nav.menu {
  float: right;
}

nav.menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.menu li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

nav.menu > li a {
  display: block;
  color: #000;
  text-decoration: none;
}

/* Change the link color on hover */
.menu > li a:hover {
  background-color: #555;
  color: white;
}

main {
  max-width: 1040px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

p {
  line-height: 20px;
  margin: 10px;
}

table {
  font-family: "Inconsolata";
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}

td {
  text-align: right;
  padding: 4px 6px;
}

code {
  font-family: "Inconsolata";
  font-size: 16px;
}

.col-group > div {
  padding: 10px;
}

img {
  width: 100%;
  margin: 0;
}

.logo {
  width: 24px;
}

canvas {
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    padding: 10px;
    float: left;
    width: 30%;
  }
}

