<div>
  <div class="col-group">

    <div>
      <h3>About</h3>
      <p>
        Computer programmer and amateur mathematician. Lives in rainy Portland, Oregon, United States.
        <a href="/about">Read more</a>
      </p>
    </div>

    <div>
      <h3>Contact</h3>
      <ul>
        <li><a href="mailto:mail@tobilehman.com">mail@tobilehman.com</a></li>
        <li>PGP fingerprint: <pre>FD0E 4D25 7D77 5AEB</pre></li>
        <li><a href="https://github.com/tlehman">github:@tlehman</a></li>
        <li><a href="https://keybase.io/tlehman/">keybase:@tlehman</a></li>
        <li><a href="https://mastodon.technology/@tlehman">mastodon:@tlehman</a></li>
        <li><a href="http://stackoverflow.com/users/46871/tlehman">stackoverflow:@tlehman</a></li>
      </ul>
    </div>

    <div>
      <h3>Latest Posts</h3>
      <ul>
        {{ range first 5 .Site.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>

  </div>
</div>
